@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: poppins;
    src: url("./assets/Fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: bodoni;
    src: url("./assets/Fonts/Bodoni_Moda/bodoniModa.ttf");
}

@layer utilities {
    .popLight {
        font-family: 'poppins, system-ui';
    }

    .popBold {
        font-family: 'poppins';
    }

    .text-poppins {
        font-family: poppins;
    }

    .text-bodoni {
        font-family: bodoni;
    }
}



.nepalDiv {
    display: grid;
    grid-template-columns: 25%, 50%, 25%, ;

}